body{
	background-image: url('../images/rockbg.png');
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;
}

.recent{
	margin-top: 420px;
	margin-left: auto;
	margin-right: auto;
}

.recent img{
	padding: 2px;

}

.recent img:hover{
	transform: scale(1.2);
}

.gallery{
	margin-top: 420px;
	margin-left: auto;
	margin-right: auto;
}

.gallery img{
	padding: 2px;

}

.gallery img:hover{
	transform: scale(1.2);
}